<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linter's Project</title>
    <link rel="stylesheet" href="donate-dark-style.css">
</head>
<body>


    <div class="up-main-block">


<!--        <div class="main-back-block">-->
<!--            <img src="..\images\Rectangle53-dark.svg" width="1689" height="155">-->
<!--        </div>-->


        <div class="block-main-text">
            <p class="last-post"><a class='last-post-block' target="_blank" href="https://vk.com/wall-202126956_329">Последний пост</a></p>
            <p class="main"><a class="main-block" href="index.html">Главная</a></p>

            <a class="logo-redirect" href="index.html"><img class="logo-block" src="..\images\logo2.svg" width="47" height="47"></a>
<!--            <img class="logo-block" src="..\images\logo.png" width="47" height="45">-->

            <p class="donate"><a class="donate-a-link-block" href="index_donate.html">Донат</a></p>
            <p class="community"><a class="community-block" target="_blank" href="https://vk.com/linters_project">Сообщество</a></p>
            <a class="switch-light" href="index_donate.html"><img class="switch-light-sun" src="..\images\sun.svg"></a>
        </div>


        <img class="wand-block" src="..\images\wand.png">


        <div class="donate-block">
            <p class="text-donate-block">Донат</p>
            <p class="donating-a-project2">Здесь вы можете пожертвовать определенную сумму денег, которая пойдет на
            <p class="donating-a-project2">развитие нашего замечательного проекта!</p>

            <p class="minimum-unit-donation">мин. 35 р. для курса 1 дон. ед равная 1 млн. вирт.</p>
            <p class="minimum-unit-donation2">Внутри игры вы сможете обменять донат единицы на нужные вам вещи.</p>
        </div>


        <div class="selection-chooice-donate">
            <img class="rectangle-block" src="..\images\Rectangle31.svg">
<!--            <p class="enter-username">Введите свой логин</p>-->
            <img class="search-block" src="..\images\search.svg">
            <p class="arrow">|</p>
        </div>


        <div class="selection-chooice-donate2">
<!--            <p class="enter-summa-donate">Введите свой логин</p>-->
            <img class="rectangle-block2" src="..\images\Rectangle31.svg">
            <img class="search-block2" src="..\images\gift.svg">
            <p class="arrow2">|</p>
        </div>


        <div class="selection-choice-server">
            <img class="rectangle-server-block" src="..\images\Rectangle31.svg">
            <img class="rectangle-indicator-block" src="..\images\indicator.svg">
            <p class="rectangle-choice-text">Сервер Linter's Project</p>
        </div>


        <div class="rounded-selection-block">
            <img class="rounded-border-block" src="..\images\Rectangle47.svg">
            <p class="choice-agreement-text">Я согласен с пользовательским соглашением</p>
        </div>


        <div class="payment-button-block">
<!--            <a class="payment" href="handler404.html">-->
<!--                <input type="Button" Value="ПЕРЕЙТИ К ОПЛАТЕ" class="payment-button"></a>-->
            <img class="design-button-payment" src="..\images\button-design-dark.svg" width="600">
            <a class="payment" href="handler404.html"><p class="design-button-text">ПЕРЕЙТИ К ОПЛАТЕ</p></a>
        </div>

    </div>

</body>
</html>