<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linter's Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="up-main-block">

<!--        <div class="main-back-block">-->
<!--            <img src="..\images\Rectangle53.png" width="1689" height="155">-->
<!--        </div>-->


        <div class="block-main-text">

            <p class="last-post"><a target="_blank" class='last-post-block' href="https://vk.com/wall-202126956_329">Последний пост</a></p>
            <p class="main"><a class="main-block" href="index.html">Главная</a></p>

<!--            <img class="logo-block" src="..\images\logo.png" width="47" height="45">-->
            <a class="logo-redirect" href="index.html"><img class="logo-block" src="..\images\logo2.svg" width="47" height="47"></a>

            <p class="donate"><a class="donate-a-link-block" href="..\templates\index_donate.html">Донат</a></p>
            <p class="community"><a class="community-block" target="_blank" href="https://vk.com/linters_project">Сообщество</a></p>
            <a class="switch-light" href="index-dark.html"><img class="switch-light-sun" src="..\images\moon-vector.svg"></a>
        </div>

        <img class="wand-block" src="..\images\wand.png">
    </div>


    <div class="greeting-block">
        <p class="greeting">Добро пожаловать!</p>
        <p class="brief-information-block">Здесь ты сможешь узнать основную информацию о проекте Linter’s</p>
        <p class="brief-information-two-block">или перейти в наше сообщество.</p>
    </div>


    <div class="type-button-block">

        <img class="install-mta-button" src="..\images\install-mta-button-design.svg">
        <p class="p-install-mta-block"><a class="install-mta-block" href="handler404.html">СКАЧАТЬ МТА</a></p>

        <img class="install-cash-button" src="..\images\install-cash-button-design.svg">
        <p class="p-install-cash-block"><a class="install-cash-block" href="handler404.html">СКАЧАТЬ КЭШ</a></p>

    </div>

</body>
</html>